.card {
    position: relative;
    img{
        width: 150px;
        height: 100%;
        border-radius: 10px;
    }
}

.card div{
    width: 150px;
    height: 200px;
    display: block;
}

.card .front {
    transform: rotateY(90deg);
    transition: all .2s ease-in;
    position: absolute;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateX(90deg);
    transition-delay: 0s;
}