.main {
  margin: 80px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width:920px){
    flex-direction: column;
    text-align: center;
  }
}

.text_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
  max-width: 500px;
  width: 100%;
  @media(max-width:920px){
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
  }
}

.images {
  position: relative;
  height: 350px;
}

.img_content {
  display: block;
}

.images .front {
  transform: rotateY(90deg);
  transition: all 0.2s ease-in;
  position: absolute;
  width: 270px;
  height: 350px;
  border-radius: 10px;
}

.img_content .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.images .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  width: 270px;
  height: 350px;
  border-radius: 10px;
}

.img_content .back {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.content div h1 {
  font-size: 32px;
}
